{% extends "base.html" %}
{% block content %}
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
	<script>
	$(document).ready(function() {
	    $('.table tr').click(function(event) {
		        if (event.target.type !== 'radio') {
					            $(':radio', this).trigger('click');
								        }
										    });
											});
	</script>

</head>
<form action={% url 'quiz:quiz' %} method="post">
{% csrf_token %}
{% for form in FORM %}
{% for field in form %}
<h1 align=centre> 
	{{ field.label }} 
</h1>
{% endfor %}
</br>
<table class="table table-hover table-bordered" >
  {% for field in form.title %}
    <tr>
      <td align=centre>
         {{ field }}
      </td>
    </tr>
  {% endfor %}	
</table>
</br>
</br>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if FORM.has_previous %}
            <!--a href="?page={{ FORM.previous_page_number }}">previous</a-->
            <a class="btn btn-large btn-primary"  href="?page={{ FORM.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ FORM.number }} of {{ FORM.paginator.num_pages }}
        </span>

        {% if FORM.has_next %}
			<input type="submit" value="Next" class="btn btn-large btn-primary " role="button"/>
            <!--a href="?page={{ FORM.next_page_number }}">next</a-->
		{% else %}
			<input type="submit" value="Submit" class="btn btn-large btn-primary " role="button"/>
        {% endif %}
    </span>
</div>
</form>
{%endblock %}
