{% extends 'base.html' %}
{% block content %}

<h1> Registration Form </h1>

</br>
</br>

<form id="userdetailform" action="{% url 'quiz:get_user_detail' %}" method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  <div class="col-xs-12">
    {% for field in form %}
      <div class="form-group">
        {{field.label_tag }}
        {{ field }}
      </div>
    {%endfor %}
  </div>
<button type="submit" class="btn btn-primary btn-lg active"> Submit </button>
</form>

{% endblock %}
